table {
  border-spacing: 0; }

tr:first-of-type {
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  list-style: none;
  border: 1px solid black; }

h1 {
  text-align: center; }

tr:nth-of-type(2n+3) {
  background-color: #F8EFE6; }

td, th {
  padding: 10px 25px; }

section {
  display: flex;
  justify-content: center; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: fit-content; }

/* Modal content Styles */
.modal-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center; }
  .modal-info td {
    display: block; }
    .modal-info td:last-of-type {
      font-size: 28px;
      font-weight: bold;
      text-decoration: underline;
      color: #686868;
      order: 1;
      min-width: 80%; }
    .modal-info td:nth-of-type(2), .modal-info td:first-of-type {
      font-size: 20px;
      flex-wrap: nowrap;
      width: 35%;
      order: 2;
      display: flex;
      justify-content: space-between; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }
